<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>stichting nice data</title>
    <style>
      * {
        margin: 0;
        box-sizing: border-box;
      }

      nav {
        border: 1px solid pink;
      }

      /* svg {
        width: 100%;
        min-height: 100%;
        height: auto !important;
        height: 100%;
      } */

      circle.dot {
        stroke: black;
        fill: none;
        opacity: 0.3;
      }

      .aanwezig_ic_dag path {
        stroke: cornflowerblue;
      }
    </style>
  </head>
  <body>
    <nav>
      <select>
        <option value="linear">Linear y-axis</option>
        <option value="log">Log y-axis</option>
      </select>
    </nav>
    <figure>
      <svg id="combined_chart"></svg>
    </figure>
  </body>
</html>
