<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>stichting nice data</title>
    <style>
      * {
        margin: 0;
        box-sizing: border-box;
      }

      html,
      body {
        width: 100vw;
        height: 100vh;
      }

      body {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto 98% auto;
        justify-content: stretch;
        overflow-x: hidden;
      }

      figure {
        /* border: 1px solid purple; */
        height: auto;
        padding: 2%;
      }

      svg {
        width: 100%;
        min-height: 100%;
        height: auto !important;
        height: 100%;
      }

      circle.dot {
        stroke: black;
        fill: none;
        opacity: 0.2;
      }

      path {
        stroke: black;
      }

      path#int_aanwezig {
        stroke: red;
      }
      path#def_aanwezig {
        stroke: black;
      }

      path#tnt_aanwezig {
        stroke: black;
        stroke-dasharray: 1, 2;
      }

      path {
        fill: none;
      }
    </style>
  </head>
  <body>
    <nav>
      <select id="yaxis">
        <option value="linear">Linear y-axis</option>
        <option value="log" selected>Log y-axis</option>
      </select>

      <label for="beta">Curve beta</label>
      <input type="range" id="beta" name="beta" min="0" max="1" step="0.01" value="0.85"/>
    </nav>
    <figure>
      <svg id="combined_chart"></svg>
    </figure>
    <footer>
      data van <a href="https://www.stichting-nice.nl/">Stichting Nice </a>
    </footer>
  </body>
</html>
